/* Reset CSS permet de mettre à zéro les margins et padding des éléments qui en ont par défaut, pour pouvoir mettre nos propres valeurs. On sélection * qui est universel ainsi que before et after.  */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, Helvetica, sans-serif;
    background: #f1f1f1;
}

/* --------------- Navigation --------------- */

nav {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 70px;
    background: transparent;

}
nav ul {
    width: 100%; /* relatif au parent */
    height: 100%;
    list-style-type: none;
    display: flex; /* on centre avec flex*/
    justify-content: center; /* on centre sur x */
    align-items: center; /* on centre sur y*/
}

nav li {
    margin: 0 15px;
}
nav a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}

@media  screen and (max-width: 550px){
    nav li {
        margin: 0 8px;
    }
    nav a {
        font-size: 16px;
    }
}

/* --------------- Accueil fondu --------------- */
.accueil {
    height: 800px;
    display: flex; /* nos blocs vont se mettre les uns à la suite des autres*/
    overflow: hidden; /* on cache ce qui dépasse */
}

.bloc-gauche-accueil {
    position: relative; /* il va y avoir des éléments aboslute positionner à l'intérieur qui seront dont relative à cette position relative*/
    width: 40%;
    height: 100%;
    background-color: #000;
    box-shadow: 90px 0 100px 100px #000;
}

h1 {
    color: #f1f1f1;
    font-family: Montserrat, Helvertica, sans-serif;
    font-size: 90px;
    padding-top: 200px;
    padding-bottom: 20px;
    margin-left: 8vw; /* 8% de la largeur d'écran évite d'écrire trop média queries*/
    white-space: nowrap; /* même si notre site n'a plus d'espace il ne doit pas se wrapper */
}

.accueil p {
    color: #f1f1f1;
    font-size: 30px;
    text-align: justify;
    width: 600px;
    margin-left: 8vw;
    line-height: 1.3;
}

.cont-btn-home {
    display: flex;
}

.btn-accueil {
    font-size: 18px;
    text-align: center;
    color: #f1f1f1;
    padding: 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 40px;
    border: 1px solid #f1f1f1;
    width: 150px; /* permet d'avoir des boutons de même taille malgré le texte */
    cursor: pointer;
}
.btn-accueil:hover {
    transition: all 0.2s ease-in-out;
    color: #000;
    background: #f1f1f1;
}

.b1 {
    margin-left: 8vw;
}
.b2 {
    margin-left: 10px;
}
.bloc-droit-accueil {
    background-image: url(ressources/gym-accueil.jpg);
    width: 60%;
    height: 100%;
    background-position: 70% 10%;
}

/* --------------- Medias accueil fondu --------------- */

@media screen and (max-width: 1350px) {
    .bloc-gauche-accueil {
        width: 60%;
    }

    .bloc-droit-accueil {
        background-position: 72% 10%;
    }
}

@media screen and (max-width: 750px) {
    .accueil {
        height: 600px;
    }
    h1 {
        font-size: 50px;
        padding-top: 120px;
    }
    .accueil p {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .btn-accueil {
        font-size: 18px;
        padding: 12px;
        margin-top: 20px;
    }
    .bloc-gauche-accueil {
        width: 50%;
    }
}

@media screen and (max-width: 550px) {
    .accueil {
        height: 450px;
    }
    h1 {
        font-size: 40px;
        padding-top: 100px;
        margin-left: 2vw;
    }
    .accueil p {
        font-size: 16px;
        margin-left: 2vw;
        margin-bottom: 10px;
    }
    .btn-accueil {
        padding: 8px;
    }
    .b1 {
        margin-left: 2vw;
    }
    .b2 {
        margin-left: 10px;
    }
    .bloc-gauche-accueil {
        box-shadow: 20px 0 100px 100px #000;
        width: 40%;
    }
}

/* --------------- Section infos --------------- */

.titre-section-info{
    color: #000;
    text-align: center;
    font-size: 65px;
    padding: 50px 20px 120px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}
.section-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* permet de mettre les éléments les uns à la suite des autres */
    width: 100%;
    margin: 0 auto;
    background-color: #f1f1f1;
    position: relative;
}
.carte-info {
    width: 350px;
    height: auto;
    margin: 0 20px 80px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    position: relative;
    z-index: 100;
}
.container-photo-info img {
    width: 100%;
    height: 500px;
    object-fit: cover; /* permet à l'image de bien couvrir l'espace qu'on lui donne */
}
.carte-info h2 {
    color: #333;
    text-align: center;
    font-size: 25px;
    padding: 20px 5px;
}
.carte-info p {
    color: #333;
    text-align: center;
    font-size: 23px;
    padding: 0 5px 15px;
}
.deco-infos {
    position: absolute; /* on sort les points noir du flux (des cartes) */
    z-index: -1; /* permet de placer les points noir sous les cartes */
    top: -70px;
    left: -100px;
}

@media screen and (max-width: 1400px) {
    .deco-infos {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .titre-section-info {
        font-size: 50px;

    }
}

@media screen and (max-width: 1000px) {
    .titre-section-info {
        font-size: 32px;
        padding: 40px 20px 40px;
    }
    .carte-info {
        margin: 0 10px 45px;
    }
}

/*------------ Section Choix ------------*/